body {
  background-color: #b2e9fd;
}

.header h2 {
  color: #dc4247;
}

.header p {
  color: #50524f;
}

.results {
  margin-top: 20px;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie {
  position: relative;
  margin-bottom: 2%;
  height: 590px;
}

.add {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: fit-content;
}

.release-date {
  background-color: gray;
  color: #fff;
  padding: 1%;
}

#heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
